* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  #navbar {
    text-align: grid;
    grid-template-columns: auto auto auto auto;
    float: right;
    padding-top: 0.2rem;
  }

  nav a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }

  #login {
    color: white;
    background-color: #1a73e8;
    border-radius: 0.3rem;
    padding: 0.7rem 1.5rem;
  }

  .gb_We {
    width: 2rem;
  }

  #menu-icon {
    position: relative;
    text-decoration: none;
    top: 0.5rem;
  }

  main {
    clear: right;
    text-align: center;
    margin-top: 10rem;
  }

  #input {
    margin-bottom: 2rem;
    border: 1.5px solid #dadce0;
    width: 50rem;
    margin: 1rem auto 2rem;
    border-radius: 2rem;
  }
  #input:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }
  #gmail:hover,
  #images:hover {
    text-decoration: underline;
  }

  #search a {
    text-decoration: none;
    color: black;
    background-color: rgb(241, 241, 241);
    padding: 0.7rem;
    font-size: 0.8rem;
    color: #3c4043;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #dadce000;


  }

  #search a:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadce0;
  }

  #search-bar {
    line-height: 2.8rem;
    border-radius: 2rem;
    border: none;
  }

  #search-bar:focus {
    border: none;
    outline: none;
  }
  #logo-google {
    margin: auto;
    font-size: 5rem;
    user-select: none;
    word-spacing: -15px;
  }
  #logo-google span {
    font-family: "Poppins";
  }
  #logo-1,
  #logo-4 {
    color: rgb(92, 92, 255);
  }
  #logo-2,
  #logo-5 {
    color: rgb(255, 56, 56);
  }
  #logo-3 {
    color: rgb(255, 208, 0);
  }
  #logo-6 {
    color: green;
  }

  #magnify {
    color: #b6b6b6;
  }

  footer {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #f1f1f1;
      color: gray;
      font-size: 0.9rem;

  }
#country {
    padding: 0.5rem ;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-left: 1.5rem;
}
 
  #nav-footer {
      padding: 0.5rem;
      width: 100rem;
      display: grid;
      grid: auto / auto auto auto;
      color: gray;}

  #nav-footer a {
    color: gray;
   text-decoration: none;
  }

  #footer-left a{
    padding: 0 1rem;
  }

  #setting a {
    padding: 0 1rem;

  }

  

